@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.wrapper{
    background-color: rgba(244, 249, 255, 1);
    height: 100vh;
}

ul,
li,
a
{
list-style: none;
padding: 0;
margin: 0;
text-decoration: none;
}

.wrap_inner{
    height: 155px;
    background-color: rgba(37, 38, 65, 1);
    position: relative;
}

.container{
    width: 1240px;
    margin: 0 auto;
}

.header{
    height: 91px;
    /* padding-top: 16px ; */
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top:20px;
    width: 100%;

}


/* ADD COURSE CONTENT */
.add_course_content{
    margin-top: 83px;
    margin-bottom: 230px;

}
.add_course_title{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 2%;
    font-family: travelsBold;
    color: rgba(24, 32, 69, 1);
    margin-bottom: 52px;
}

.add_course_form{
    width: 100%;
    height: 740px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius:10px;
    padding: 51px 225px 0 225px;
}

/* FORM */
.group{
    width: 100%;
    position: relative;
    height: 76px;
    margin-bottom: 25px;
}

.group label{
    position: absolute;
    top: -10px;
    font-size: 16px;
    font-family: travelsRegular;
    line-height: 22px;
    color: rgba(29, 32, 38, 1);
    
}

.group input{
    width: 100%;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(233, 234, 240, 1);
    height: 48px;
    padding-left: 18px;

}

.group input::placeholder{
    color: rgba(140, 148, 163, 1);
    font-family: travelsRegular;
    font-size: 16px;
    line-height: 22px;

}
.group input:focus{
    outline: none;
    border: 1px dashed ;
}

.course_categories{
    width: 100%;
    position: absolute;
    height: 48px;
    bottom:9px;
    border:none;
    border: 1px solid rgba(233, 234, 240, 1);
    border-radius:1px;
    padding-left: 18px;    
}

.course_categories:focus{
    outline: none;
}

select{
    color: rgba(140, 148, 163, 1);
    font-family: travelsRegular;
    font-size: 16px;
    line-height: 22px;

}

.column{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.column2{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.column2 .group{
    flex-basis: 46%;
}

.column .group{
    flex-basis: 30%;
}

.add_course_buttons{
    margin-top: 136px;
    display: flex;
    justify-content: space-between;
}

.cancel,  .saveCourse_btn{
    width: 132px;
    height: 42px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    font-family: travels;
    border: none;
}

.cancel{
    border: 1px solid rgba(74, 74, 74, 1);
    background: rgba(255, 255, 255, 1);
    color:  rgba(74, 74, 74, 1);

}

.saveCourse_btn{
    background: rgba(246, 155, 18, 1);
    color: rgba(255, 255, 255, 1);

}
.error-text{
    color: red;
    position: absolute;
    bottom:-10px;
    font-size: 13px;
}



