*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: travels;
}

.wrap{
    background-color: rgba(232, 233, 254, 1);
    height: 100%;
    padding-bottom: 219px;
    
}

.container{
    margin: 0 auto;
    width: 1240px;
    position: relative;
}



.logo img{
    max-width: 191px;
    height: 55px;
    margin-top: 10px;
}
.logo{
    text-align: center;
    padding: 10px;
}

.toLogin{
    background-color:  rgba(53, 74, 176, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 109px;
    height: 36px;
    border-radius: 36px;
    padding: 6px 30px;
    border: none;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-family: 'Poppins' , sans-serif;
    position: absolute;
    top: 33px;
    right: 0;
}

.forgotPwd{
    width: 680px;
    height: 430px;
    border-radius: 20px;
    background-color:  rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 122px auto;
    

}

.forgetPwd_inner{
    padding: 45px 84px 66px 84px;
    text-align: center;
}

.forgetPwd_inner h2{
    font-family: travels;
    font-size: 40px;
    font-weight: 500;
    color :rgba(27, 42, 108, 1);
    

}

.forgetPwd_inner p{
    font-size: 14px;
    font-weight: 400;
    color : rgba(91, 91, 91, 1);
    margin-top: 32px;
    line-height: 19.6px;
    text-align: left;
}

.group{
    position: relative;
    height: 89px;
    margin-top: 30px;
    text-align: left;
    margin-left: -26px;
     width: 100%; 
    width: 502px; 
}
.group input{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 46px;
    width: 700px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 12px;
    border : 1px solid rgba(45, 45, 45, 1);
    padding-left: 20px;

}

label{
    position: absolute;
    top: 0;
    left:0;
    color: rgba(45, 45, 45, 1);
    font-family: travelsRegular;

}

.forgetPwd_inner button{
    margin-top: 20px;
    background: rgba(53, 74, 176, 1);
    width: 310px;
    height: 55px;
    border-radius: 36px;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 1);
    font-family: 'Poppins' , sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
}




