.wrap{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins' , sans-serif;
}

/* .container{
    width: 1240px;
    margin: 0 auto;

} */



.logo img{
    max-width: 191px;
    height: 55px;
    margin-top: 10px;
}
.logo{
    text-align: center;
    margin-bottom: 125px;
}

.registerBack{
    background-image: url(../images/registr_image3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 150px;
    height: 1000px;
}

.registerContent{
    width: 800px;
    height: 950px;
    background-color:white;
    border: 1px solid black;
    margin: 0 auto;
    border-radius:30px;
    padding: 40px 140px;
}

.registerContent__inner h2{
    font-family: travels;
    font-size: 32px;
    font-weight: 500;
    color : rgba(17, 17, 17, 1);
    text-align: center;
    margin-bottom: 56px;

}

.registerContent__inner p{
    font-family: travels;
    font-weight: 400;
    font-size: 14px;
    color : rgba(17, 17, 17, 1);
    /* margin-top: 56px; */
    margin-bottom: 10px;

}

.group{
    position: relative;
    height: 89px;
}

label{
    position: absolute;
    top: 0;
    left:0;
}

.group .reg_input{
    position: absolute;
    bottom: 0;
    height: 46px;
     width: 400px; 
    width: 100%;
    margin-bottom: 20px;
    border-radius: 12px;
    border : 1px solid rgba(45, 45, 45, 1);
}

.column{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column .group{
    flex-basis: 46%;
}

.cities{
    position: absolute;
    bottom: 0;
    height: 46px;
    /* width: 400px; */
    width: 100%;
    margin-bottom: 20px;
    border-radius: 12px;
    border : 1px solid rgba(45, 45, 45, 1);
}

.genderGroup{
    display: flex;
    align-items: center;
    gap: 30px;
    /* height: 30px; */    
}

.female input,
.male input{
    width: 15px;
    height: 15px;
}
.female , .male,
.expOne_Three,
.expOne,
.expNo{
    gap: 15px;
    display: flex;
    align-items:center;
    margin-top: 30px;
    height: 30px;
}
.female p, .male p,
.expOne_Three p,
.expOne p,
.expNo p{
    font-family: 'Poppins' , sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.expGroup{
    display: flex;
    align-items: center;
    gap: 30px;
}


.button{
    margin-top: 30px;
    width: 100%;
    height: 64px;
    border-radius: 60px;
    background-color:  rgba(53, 74, 176, 1);
    border: none;
    color: white;
    font-family: travels;
    font-weight: 500;
    font-size: 22px;
    transition: transform 0.4s linear;
    margin-bottom: 284px;
}

.button:hover{
    transform: scale(1.1);
}

.error-text{
    color: red;
    position: absolute;
    top: 65px;
    bottom:0;
}



