@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;1,300&display=swap');


.wrapper{
    background-color: rgba(244, 249, 255, 1);
    height: 100vh;
}

ul,
li,
a
{
list-style: none;
padding: 0;
margin: 0;
text-decoration: none;
}

.wrap_inner{
    height: 155px;
    background-color: rgba(37, 38, 65, 1);
    position: relative;
}

.container{
    width: 1240px;
    margin: 0 auto;
}

.header{
    height: 91px;
    /* padding-top: 16px ; */
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top:20px;
    width: 100%;

}

/* MAIN CONTENT */

.main_content{
    margin-top: 110px;
    /* position: relative; */
}

.leftSide{
    position: absolute;
    bottom:0;
    left: 0;
}
.noComments{
    text-align: center;
}

.rightSide{
    position: absolute;
    bottom:0;
    right: 0;
}
.pages_links{
    display: flex;
    gap: 10px;

}

.pages_links a{
    color: rgba(24, 32, 69, 0.8);
    font-weight: 500;
    font-size:16px;
    line-height: 24px;
}

.pages_links p{
    color: rgba(24, 32, 69, 0.9);
    font-weight: 700;
    font-size:16px;
    line-height: 24px;
}

.course_content{
    position: relative;
    width: 100%;
    /* min-height: 852px; */
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-top:56px;
    padding: 36px 60px 79px 38px;
    margin-bottom:51px;
}

.course_img{
    width: 160px;
    height: 180px;
    border-radius:10px;
}

.course_content_inner{
    display: flex;
    gap: 46px;
}

.course_name{
    color: rgba(38, 38, 38, 1);
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
}

.course_desc{
    margin-top: 20px;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0.5%;
    font-weight: 400;
    font-family: travelsRegular;
    width:100%;
    margin-bottom: 60px;
}

.course_info_details1{
    display: flex;
    gap: 66px;
}

.course_info_details1 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -1%;
    font-family: travelsRegular;

}

.line{
    display: block;
    width: 980px;
    height: 2px;
    border: 1px solid rgba(233, 234, 240, 1);
    margin-top:63px;
    margin-left: -50px;
}

.course_info_details2{
    display:flex;
    gap: 200px;
    margin-top: 39px;
}

.course_teacher_name_sur{
    display: flex;
    gap: 10px;
}

.created{
    font-size: 16px;
    font-weight: 400;
    font-family: travelsRegular;
    color: rgba(105, 105, 132, 1);

}

.course_teacher{
    display: flex;
    gap: 10px;
}

.course_teacher_name_sur p{
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0.5%;
    font-family: travels;
}
.course_info{
    position: relative;
}

.course_rating_cost{
    display: flex;
    gap: 100px;
    align-items: center;
}

.course_rating,
.course_date_time{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: rgba(78, 85, 102, 1);
    font-weight: 500;

}

.course_rating{
    position: relative;
}

.course_rating::before{
    content: ' ';
    position: absolute;
    left: -27px;
    width: 20px; 
    height: 20px;  
    vertical-align: middle;
    background-image:url('../images//Star_item.svg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.course_date_time{
    position: relative;
}

.course_date_time::before{
    content: ' ';
    position: absolute;
    left: -27px;
    width: 20px; 
    height: 20px;  
    vertical-align: middle;
    background-image:url('../images//time.svg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.course_cost{
    color: rgba(38, 38, 38, 1);
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    font-family: travels;
}

.line2{
    display: block;
    width: 648px;
    height: 2px;
    border: 1px solid rgba(233, 234, 240, 1);
    margin-top:40px;
    margin-left:130px;
    margin-bottom: 48px;
}

.course_functions{
    margin-top:70px;
    margin-left: 100px;
    width: 552px;
    text-align: center;
    position: relative;
    margin-bottom: 70px;
}



.commentSaved{
    position: absolute;
    bottom: -30px;
    /* left: 285px; */
    right: 0;
    font-size:13px;
    color:green;
}

textarea{
    display: block;
    width: 552px;
    height: 120px;
    border-radius:9px;
    box-shadow: 0px 2px 2px 0px #0000002E;
    border: 1px solid #282B89C2;
    padding: 12px 0 0 14px;

}

textarea::placeholder{
    color: #AAAAAA;

}

textarea:focus{
    outline: none;

}

.course_functions button{
    background: #293675;
    border-radius :10px;
    height: 34px;
    width: 101px;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    color: #FFFFFF;
    border:none;
    position:absolute;
    left:442px;
    bottom:9px;
}

.rating_stars{
    margin-bottom: 50px;
} 

.rating_stars h3{
    margin-bottom: 30px;
    color: #000000;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    font-family: travelsRegular;

}

.course_item_video{
    width: 217px;
    background: rgba(6, 113, 224, 1);
}

.course_delete{
    background: rgba(237, 68, 89, 1);
    width: 92px;
}



.prevPage{
    width: 94px;
    height: 42px;
    border-radius:10px;
    border: 1px solid rgba(74, 74, 74, 1);
    background: rgba(255, 255, 255, 1);
    color: rgba(74, 74, 74, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    font-family: travels;
    margin-bottom: 178px;
}

.comments{
    margin-left: 100px;
    width: 552px;
    /* text-align: center; */
}

.comments_title{
    margin: 0 auto;
    color: #000000;
    font-weight: 500;
    font-size: 24px;
    line-height: 28.8px;
}

.commentItem{
    margin-top: 30px;
    width: 551px;
    height: 154px;
    border-radius: 9px;
    background: #FFFFFF;
    border: 1px solid #4A4A4A80;
    box-shadow: 0px 2px 2px 0px #0000002E;
    padding: 13px 12px 31px 16px;
    position: relative;
}

/* .name_rating{

} */

.name_photo img{
    border: 2px solid #21EC00;
    width: 40px;
    height: 40px;
    border-radius:20px;
}

.name_photo h4{
    color: #000000;
    font-weight: 500;
    font: 17px;
    line-height: 20.4px;
}

.name_photo{
    display: flex;
    align-items:center;
    gap: 10px;
}

.name_rating{
    display: flex;
    justify-content: space-between;
}

.comment{
    width: 520px;
    margin-top: 10px;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.date{
    color: #858585;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    position: absolute;
    right: 12px;
    bottom: 5px;
}

.showMoreButton{
    width: 100%;
    height: 37px;
    border-radius:6px;
    background: #FFFFFF;
    border: 1px solid #444AD5;
    color: #444AD5;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    margin-top: 40px;

}

.teacher_img{
    width: 40px;
    height: 40px;
    border-radius:20px;
    border: 2px solid #15FB01;
}
