*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: travels;
}

.wrap{
    background-color: rgba(232, 233, 254, 1);
    height: 100%;
    padding-bottom: 219px;
    
}

.container{
    margin: 0 auto;
    width: 1240px;
    position: relative;
}



.logo img{
    max-width: 191px;
    height: 55px;
    margin-top: 10px;
}
.logo{
    text-align: center;
    padding: 10px;
}

.successReset{
    margin: 122px auto;
    width: 680px;
    height: 535px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(77, 77, 77, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
}

.successReset_inner{
    text-align: center;
    padding: 79px 185px;
}

.successReset_inner h2{
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    font-family: travels;
    margin: 32PX 0 32PX 0;
    color: rgba(27, 42, 108, 1);

}

.successReset_inner p{
    color: rgba(91, 91, 91, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    font-family: travelsRegular;
    margin-bottom: 32px;

}

.successReset_inner button{
    background: rgba(53, 74, 176, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 310px;
    height: 55px;
    border-radius: 36px;
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    font-family: 'Poppins', sans-serif;
    border: none;
}

